
*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

:root {
 font-size: 62.5%;
 --almost-white: hsl(0, 0%, 98%);
 --mid-gray: hsl(0, 0%, 41%);
 --almost-black: hsl(0, 0%, 8%);
}

body {
 font-family: 'Epilogue', sans-serif;
 color: var(--mid-gray);
 font-size: 1.8rem;
 width: 100%;
 min-height: 100vh;
 background: var(--almost-white);
}

.container {
 max-width: 37rem;
 margin: auto;
 display: flex;
 flex-direction: column;
}

.header {
 padding: 3rem 1rem;
 order: -2;
 display: flex;
 align-items: flex-start;
 justify-content: space-between;
}

.header::after {
 display: block;
 content: '';
 width: 100%;
 min-height: 100%;
 background: rgba(0, 0, 0, .8);
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 transform: translateX(-100%);
 transition: transform .5s ease-in-out;
}

.header.menu-active::after {
 transform: translateX(0);
}

.menu-button {
 background: none;
 border: none;
 cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 2.5px;
}

.menu-button--close {
 position: absolute;
 right: 2rem;
 top: 2rem;
}

.nav {
 position: fixed;
 right: 0;
 top: 0;
 background: var(--almost-white);
 min-height: 100vh;
 width: 65%;
 padding: 8rem 3rem;
 background: #fff;
 z-index: 2;
 transform: translateX(100%);
 transition: transform .5s ease-in-out .2s;
}


.header.menu-active .nav {
 transform: translateX(0);
}

.nav__list--actions {
 text-align: center;
 margin-top: 6rem;
}

.nav__list-item {
 list-style: none;
 margin-block: 2rem;
}

.nav__link--dropdown-parent {
 display: flex;
 align-items: center;
 position: relative;
}

.nav__link--dropdown-parent::after {
  content: url(images/icon-arrow-down.svg);
  margin-left: .8rem;
  margin-bottom: 5px;
}

/* temp */
.nav__list--dropdown-child {
 margin-left: 1.5rem;
 position: absolute; 
 transform: translateY(3rem);
 opacity: 0;
 transition: all .3s;
}

.nav__link--dropdown-parent.active + .nav__list--dropdown-child  {
 position: static;
 transform: translateY(0);
 opacity: 1;
 
}

.nav__link--dropdown-parent.active::after {
 content: url(images/icon-arrow-up.svg);
 margin-left: .8rem;
 margin-bottom: 5px;
}

.nav__link {
  text-decoration: none;
  color: var(--mid-gray);
}

.nav__link-icon {
 margin-right: .5rem;
}

.nav__link--action--register {
  border: 2px solid var(--mid-gray);
  display: block;
  padding: 1rem;
  border-radius: 1.5rem;
}

.text {
 padding: 2.5rem;
 text-align: center;
 margin-bottom: 3.5rem;
}

.text__title {
 color: var(--almost-black);
 font-size: 3.2rem;
 font-weight: 700;
 margin-bottom: 2rem;
}

.text__paragraph {
  line-height: 1.6;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.btn {
 border: none;
 font-family: inherit;
 font-weight: 700;
 font-size: 1.6rem;
 color: var(--almost-white);
 background: var(--almost-black);
 padding: 1.4rem 2rem;
 border-radius: 1.2rem;
 border: 2px solid var(--almost-black);
 cursor: pointer;
 transition: .2s;
}

.btn:hover,
.btn:active {
 background: none;
 color: var(--almost-black);
}

.hero {
 height: 25rem;
 background: url(images/image-hero-mobile.png);
 background-size: cover;
 margin-bottom: 2rem;
}

.feature {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.feature__logo {
 width: 7rem;
}

@media(min-width: 1100px){

 .container {
  max-width: 90%;
  display: block;
 }
 
 .header {
  order: 0;
  display: flex;
  align-items: center;
 }
 
 .header::after {
  display: none;
 }

 .logo {
  margin-right: 8rem;
 }
 
 .menu-button {
  display: none;
 }
 
 
 .nav {
  position: static;
  background: none;
  min-height: auto;
  height: 5rem;
  width: initial;
  padding: 0;
  transform: translateX(0);
  display: flex;
  flex-basis: 100%;
 }

 .nav__list--menu {
  display: flex;
  align-items: center;
 }
 
 .nav__list--actions {
  text-align: left;
  margin-top: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
 }
 
 .nav__list-item {
  margin-block: 0;
  margin-left: 3.5rem;
 }

 .nav__list-item--dropdown-child {
  margin: 0;
  margin-bottom: 5px;
 }

 .nav__list-item--menu--dropdown-parent {
  position: relative;
 }
 
 .nav__link--dropdown-parent {
  display: flex;
  align-items: center;
 }

 .nav__link--dropdown-child {
  padding: .5rem;
  display: block;
 }

 .nav__list-item--menu--dropdown-parent {  
  height: 3rem;
  width: 10.5rem;
 }
 
 .nav__list--dropdown-child.nav__child {
  width: 18rem;
  background: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-left: 0;
  box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, .1);
  opacity: 0;
  transition: all .3s;
 }

 .nav__list--dropdown-child.nav__child--company {
   width: 14rem;
   transform: translate(-3rem, 0);
 }
 .nav__list--dropdown-child.nav__child--features {
  transform: translate(-8rem, 0);
 }
 
 .nav__link--dropdown-parent.active + .nav__list--dropdown-child.nav__child  {
  opacity: 1;
 }

 .nav__link--dropdown-parent.active + .nav__list--dropdown-child.nav__child--features {
  transform: translate(-8rem, 1.5rem);
 } 

 .nav__link--dropdown-parent.active + .nav__list--dropdown-child.nav__child--company {
  transform: translate(-3rem, 1.5rem);
 } 

 
 .nav__link-icon {
  margin-right: 1rem;
 }
 
 .nav__link--action--register {
   padding: 1rem 2.2rem;
 }
 
 
 .main-content {
  max-width: 80%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 10rem;
 }
 
 .text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 2.5rem;
  text-align: left;
  margin-top: 10rem;
 }

 .text__title {
  font-size: 6.5rem;
  margin-bottom: 4rem;
 }

 .text__paragraph {
  width: 90%;
  margin-bottom: 4rem;
 }
 
 .hero {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  min-height: 100vh;
  background: url(images/image-hero-desktop.png);
  background-size: cover;
  margin-bottom: 0;
  align-self: center;
 }

 .feature {
  padding: 3rem;
 }
 
 .feature__logo {
  width: initial;
 }

}